@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100&display=swap');


:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: black;
    color: white;
    min-height: 100vh;
    display: block;
    padding: 0 0 0 30px;
    opacity: 1;
    transition: all 0.3s ease;
}

.main-content {
    padding-left: 270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
}

.section-title h2 {
    font-size: 40px;
    padding-top: 20px;
    font-weight: 700;
    position: relative;
    margin-bottom: 60px;
}

.section-title h2::before {
    content: "";
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: "";
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;

}

.section .service-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05)
}

/*aside*/
.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}


.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;

}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);

}

.aside .nav li a i {
    margin-right: 15px;
}

/* home*/
.home {
    min-height: 100vh;
    display: flex;
    color: white;
    display: flex;
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 17px;
    color: whitesmoke;
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;

}

.home-img::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
    transition: all 0.3s ease;
}

.home-img:hover::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    border-bottom: none;
    bottom: 370px;
    right: 20px;

}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    top: -40px;
    left: 20px;
    transition: all 0.3s ease;
}

.home-img:hover::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    border-top: none;
    top: 370px;
    left: 10px;
}




.home .home-img img {
    margin: auto;
    margin-right: 10px;
    border-radius: 5px;
    height: 400px;

}

/*---==== about ====---*/
.about {
    padding-top: 80px 0;
}

.about .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 95%;
    border-radius: 10px;
    transition: all 1s ease;
    margin: 20px;
}

.about-col-1 img:hover {
    width: 100%;
    border-radius: 50px;
    box-shadow: 5px 10px 20px var(--skin-color);
}

.about-col-2 {
    color: white;
    flex-basis: 60%;
}

.about .about-title {
    font-size: 60px;
    color: var(--skin-color);
    font-family: 'Clicker Script', cursive;
}

.about-col-2 p {
    margin-top: 20px;
    color: whitesmoke;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--skin-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents {
    margin: 10px 0;
}

.tab-contents ul li {
    margin-bottom: 20px;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.button {
    margin-top: 30px;
    display: flex;
    justify-content: end;
    margin-right: 15px;

}

.button .btn {
    margin-top: 10px;
    margin-right: 15px;
}

.progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 80%;
    position: relative;
    display: flex;
}



.progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}



.progress .skill-percent {
    position: absolute;
    right: 0;
    color: var(--bg-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

/* service section */

.service .container {
    padding-bottom: 40px;
    padding-right: 10px;
}

.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    color: var(--text-black-900);
    box-sizing: border-box;
}


.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 5px 10px 20px var(--skin-color);
    transform: scale(0.9);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background-color: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #ffffff;

}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}


.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}



/* Portfolio */

.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio .portfolio-heading h2 {
    font-weight: 500;
}


.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 15px;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}

.layer .icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    margin-top: 20px;
    transition: height 0.6s;
}

.layer .icon .fas {
    color: red;
    margin: 30%;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/* CONTACT */

.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact-form {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 15px 0 15px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: whitesmoke;
    font: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;

}

.contact .contact-form .col-6 {
    flex: 0 0 100%;
    max-width: 100%;

}


.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;

}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border: 1px solid #1e1e1e;
    padding: 10px 25px;
    font-size: 16px;
    color: var(--bg-black-50);
    background-color: #1e1e1e !important;
    transition: all 0.3s ease;
}

.form-item button:focus {
    background-color: #b54769;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px var(--skin-color);
}



.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

    -webkit-box-shadow: 0 0 0 50px #1e1e1e inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

#msg {
    color: #61b752;
    margin-bottom: 20px;
    display: block;
}



@media (max-width:1199px) {
    .aside {
        left: -270px
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    aside .nav-toggler.open {
        left: 300px;
    }

    .main-content {
        padding-left: 0;
    }

    .section.open {
        left: 270px;
    }

}

@media (max-width:991px) {
    .contact-form {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }

    .contact .contact-info-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }


    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media (max-width:767px) {
    .contact-form {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

    #about .about-col-1 {
        margin: 0%;
        /* padding-left: 15px; */
        padding-right: 35px;
        flex: 0 0 60%;
        text-align: center;
    }

    .about-col-1 img:hover {
        box-shadow: none;
    }

    #about .about-col-1,
    #about .about-col-2,
    .service .service-item,
    .contact .contact-form .col-6,
    .contact .contact-info-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}